# Ignorar entorno virtual
.env/

# Ignorar variables de entorno.
*.env

# Ignorar cachés de Python
__pycache__/
*.pyc
*.pyo

# Ignorar configuraciones de IDE
.vscode/
.idea/

# Ignorar base de datos de desarrollo
db.sqlite3
reactions_data.db
nuclear_properties.db

# Archivos temporales o logs
*.log
