{% extends 'presentation/assets/main.html' %}

{% block customStyle %}   
    body {
        margin: 0;
        padding: 0;
        {% comment %} text-align: center;
        display: grid;
        flex-direction: column;
        justify-content: center; {% endcomment %}
        height: 100vh;
    }
    .container {
        text-align: center;
        background: var(--color-container-bg);
        padding-top: 8vh;
        color: var(--color-text-light);
        padding-bottom: 8vh;
        margin: auto;
        width: 75%;
        border-radius: 2vh;
        box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
    }
    .options {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-content:center;
        justify-items: center;
        gap: 15px;
    }
    .option {
        background: var(--color-accent-dark);
        padding: 4vh;
        border-radius: 1vh;
        width: 30vw;
        box-shadow: 0 0.5vh 0.8vh rgba(0, 0, 0, 0.2);
        cursor: pointer;
        color: white;
        transition: transform 0.2s;
        border: none;
        display: inline-block;
    }
    .option:hover {
        transform: scale(1.05);
    }
    /* Estilos para simular encabezado y párrafo */
    .option .button-heading {
      display: block;
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
    .option .button-subheading {
      display: block;
      font-size: 1em;
      margin: 0;
    }
{% endblock %}

{% block mainContent %} 
<div class="container">
    <h2>Seleccione un modo</h2>
    <div class="options">
        <button type="button" class="option"
                onclick="window.location.href='{% url 'simplificado_ingresar' %}'">
            <span class="button-heading">Busqueda simplificada</span>
            <span class="button-subheading">Rapido y ajusta valores a los optimos</span>
        </button>
        <button type="button" class="option"
                onclick="window.location.href='{% url 'rendimiento_ingresar' %}'">
            <span class="button-heading">Base de Datos</span>
            <span class="button-subheading">Rápido. Datos IAEA, EXFOR y ENDF del 2025.</span>
        </button>
        <button type="button" class="option"
                onclick="window.location.href='{% url 'rendimiento_api' %}'">
            <span class="button-heading"> APIs IAEA: LiveChart + ENDF + EXFOR</span>
            <span class="button-subheading">Datos Actualizados. Puede tardar minutos.</span>
        </button>
    </div>
</div>
{% endblock %}
