{% extends 'presentation/assets/main.html' %}

{% block customLink %}
{% endblock %}

{% block customStyle %}
    body {
      color: var(--color-text-light)
    }

    .container {
      background: var(--color-container-bg);
      color: var(--color-text-light);
      padding: 2vh;
      margin: 2vh auto;
      width: 80%;
      border-radius: 2vh;
      box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
      display: grid;
    }

    .lab-checklist {
      color: black;
      background: #f1f1f1;
      padding: 10px;
      border-radius: 5px;
      max-width: 200px;
    }
    /* Reducir el espacio vertical del gráfico */
    .graph-container {
      max-width: 800px;
      max-height: 600px;
      overflow: auto;
      margin-bottom: 1rem;
    }

    .submit-button {
      background: var(--gradient-linear);
      margin-top: 2vh;
      padding: 1vh 2vw;
      font-size: 1.8vh;
      color: white;
      border: none;
      border-radius: 1vh;
      cursor: pointer;
      text-align: left;
      transition: transform 0.2s;
    }
    .submit-button:hover {
      transform: scale(1.10);
    }
{% endblock %}

{% block mainContent %}

<div class="container">
  <h2>Selección de datos</h2>
  <p  style="margin-bottom:4;">Seleccione los datos que quiera analizar</p>

  <form method="post" action="{% url 'rendimiento_api_resultado' %}">
    {% csrf_token %}
    <!-- Campo oculto para la cache_key -->
    <input type="hidden" name="cache_key" value="{{ cache_key }}">

    <!-- Grupo: Datos Evaluados -->
    {% if evaluated_plot %}
      <div style="margin-bottom:4; grid-row:2;">
        <div style="display: grid; grid-template-columns: repeat(3, 1fr);">
          <!-- Gráfico evaluado -->
          <div class="graph-container" style="grid-column: 1 / 4;">
            {{ evaluated_plot | safe }}
          </div>
          <!-- Checkboxes de laboratorios evaluados -->
          <div class="lab-checklist" style="grid-column: 4;">
            <h5>Laboratorios</h5>

            {% for emission, items in emission_groups.items %}
              <fieldset style="border:1px solid #ccc; padding:1em; margin-bottom:1em;">
                <legend style="font-weight:bold;">Emisión: {{ emission }}</legend>

                {% for item in items %}
                  <label style="display:block; margin:0.3em 0;">
                    <input
                      type="radio"
                      name="selected_{{ emission }}"
                      value="{{ item.idx }}"
                      required
                      {% if forloop.first %}checked{% endif %}
                    >
                    {{ item.label }}
                  </label>
                  {% empty %}
                  <label>no data</label>
                {% endfor %}

              </fieldset>
            {% empty %}
              <label>no emission</label>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    <!-- Botón para enviar el formulario y calcular -->
    <div style="margin-top: 4;">
      <button type="submit" class="submit-button">Seleccionar datos y calcular</button>
    </div>
  </form>
</div>

{% endblock %}

{% block customScript %}
{% endblock %}
