{% extends 'presentation/assets/main.html' %}

{% block customStyle %} 
        /* Puedes reutilizar los mismos estilos que en tu formulario */
        body {
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .container {
            background: white;
            padding: 2vh;
            margin: 2vh auto;
            width: 80%;
            border-radius: 2vh;
            box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
        }
        .graph-container {
            margin: 2vh 0;
        }
        .data-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        }

        .data-table th, .data-table td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        .data-table th {
            background-color: white;
            color: black;
            text-transform: uppercase;
        }

        .data-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .data-table tr:hover {
            background-color: #e9ecef;
        }
{% endblock %}

{% block mainContent %} 
    <div class="container">
        <h2>Resultados del Rendimiento</h2>
        <div class="graph-container">
            {{ plot_html|safe }}
        </div>
        <div class="timer">
            Tiempo de procesamiento: {{ elapsed_time | floatformat:2 }} segundos
        </div>
        <div style="text-align: left; padding: 2vh;">
            <p><strong>Isótopo:</strong> {{ isotope }}</p>
            <p><strong>Proyectil:</strong> {{ projectile }}</p>
            <p><strong>Corriente:</strong> {{ current }} [μA]</p>
            <p><strong>Energía deEntrada:</strong> {{ E_in }} [eV]</p>
            <p><strong>Energía de Salida:</strong> {{ E_out }} [eV]</p>
            <p><strong>Tiempo de Irradiación:</strong> {{ ti }} [horas]</p>
            <p><strong>Tiempo de Enfriamiento:</strong> {{ tc }} [horas]</p>
            <p><strong>Profundidad del target:</strong> {{ vtar }} [cm]</p>
        </div>

        {% if tabla_data %}
        <div>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Reaccion</th>
                        <th>Proyectil</th>
                        <th>R. parcial[s^-1]</th>
                        <th>R. total[s^-1]</th>
                        <th>Actividad EOI[Mbq]</th>
                        <th>#isotopos EOI</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in tabla_data %}
                    <tr>
                        <td>{{ item.reaccion }}</td>
                        <td>{{ item.proyectil }}</td>
                        <td>{{ item.rti }}</td>
                        <td>{{ item.rt }}</td>
                        <td>{{ item.Ai }}</td>
                        <td>{{ item.Ni }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>No hay datos disponibles para mostrar.</p>
        {% endif %}

        <a href="{% url 'rendimiento_ingresar' %}" style="display: block; margin-top: 2vh;">Volver al formulario</a>
    </div>
{% endblock %}