{% extends 'presentation/assets/main.html' %}

{% block customStyle %} 
        /* Puedes reutilizar los mismos estilos que en tu formulario */
        body {
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .container {
            background: white;
            padding: 2vh;
            margin: 2vh auto;
            width: 80%;
            border-radius: 2vh;
            box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
        }
        .graph-container {
            margin: 2vh 0;
        }
        .data-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        }

        .data-table th, .data-table td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        .data-table th {
            background-color: white;
            color: black;
            text-transform: uppercase;
        }

        .data-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .data-table tr:hover {
            background-color: #e9ecef;
        }
{% endblock %}

{% block mainContent %} 
    <div class="container">
        <h2>Resultados del Rendimiento</h2>
       
       {% for datos in datos_presentar %} 
            <div class="graph-container">
                {{ datos.plot|safe }}
            </div>
            <div style="text-align: left; padding: 2vh;">
                <p><strong>Isótopo:</strong> {{ isotope }}</p>
            </div>

            {% if datos.tabla %}
            <div>
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Reaccion</th>
                            <th>Proyectil</th>
                            <th>Tiempo max.</th>
                            <th>Energia optima</th>
                            <th>R. parcial[s^-1]</th>
                            <th>R. total[s^-1]</th>
                            <th>Vol. target[cm^3]</th>
                            <th>Actividad EOI[Mbq]</th>
                            <th>#isotopos EOI</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in datos.tabla %}
                        <tr>
                            <td>{{ item.reaccion }}</td>
                            <td>{{ item.proyectil }}</td>
                            <td>{{ item.tiempo_max }}</td>
                            <td>{{ item.energia_max }}</td>
                            <td>{{ item.ratio_produccion }}</td>
                            <td>{{ item.ratio_total }}</td>
                            <td>{{ item.volumen_target }}</td>
                            <td>{{ item.actividad_max }}</td>
                            <td>{{ item.nucleos_max }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>No hay datos disponibles para mostrar.</p>
            {% endif %}

       {% endfor %}

        {% comment %} <div class="timer">
            Tiempo de procesamiento: {{ elapsed_time | floatformat:2 }} segundos
        </div> {% endcomment %}

        <a href="{% url 'simplificado_ingresar' %}" style="display: block; margin-top: 2vh;">Volver al formulario</a>
    </div>
{% endblock %}