<style>
    :root {
        font-family: Arial, sans-serif;
        --color-text-light: #e0e6f1;
        --bg-color: #1a1f2b;
        --header-bg-color: transparent;
        --gradient-linear: linear-gradient(65deg, #1de9b6, #00bfa5);
        --color-accent-dark: #00bfa5;
        --color-accent: #1de9b6;
        --footer-bg-color: #0d0d0d;
        --color-container-bg: rgba(30, 35, 50, 0.7);
    }

    body {
        background-color: var(--bg-color);
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Hace que el body tenga al menos la altura de la ventana */
    }

    .header {
        background: var(--header-bg-color);
        padding: 2vh;
        font-size: 4vh;
        text-align: left;
        padding-left: 2vw;
        position: relative;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    }

    .header::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--gradient-linear);
    }

    .header a {
        text-decoration: none;
        font-weight: bold;
        background: var(--gradient-linear);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .main-content {
        flex: 1; /* Hace que este div ocupe todo el espacio disponible */
		display: flex;
        justify-content: center; /* Centrado horizontal */
    }
    
    {% block customStyle %} {% endblock %}
</style>

</head>
<body>
    <div class="header"><a href="/">Simprod</a></div>
    
    <div class="main-content">
        {% block mainContent %} {% endblock %}
    </div>

    <div class="footer">&copy; placeholder 2025</div>
</body>
</html>
